@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    /* Al poner 100% el contenedor se adaptara a la pantalla */
    background: rgba(128, 128, 128, 0.63);
    width: 100%;
    height: 100vh;
    background: url(../img/bg-header.png);
    /* Ajustar la img al fondo */
    background-size: cover;
    padding-top: 40px;
}

nav{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /* Aliniar en forma vertical */
    justify-content: space-between;
    /* Aliniar de forma horizal */
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 0 20px ;
    /* Eliminar el estilo de lista de los li */
    list-style: none;
}

nav ul li a{
    color:#ffffff ;
    font-size: 25px;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  
}

nav ul li a:hover{
    border-radius: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

/* Inicio hero */

#hero{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

#hero h1{
    color: #e8f00c;
    font-size: 60px;
    margin: 0;
}

#hero h2{
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    margin-bottom: 100px;
}

#hero .btn{
    background: #e8f00c;
    padding: 12px 30px;
    font-size: 30px;
    text-decoration: none;
    color: gray;
    font-weight: 750;
    border-radius: 8px;
   transition: .4s;
}

#hero .btn:hover{
    padding: 12px 50px;
    border-radius: 0;
}

main{
    width: 100%;
    position: relative;
}



main #planes{
    background: #ffffff;
    width: 100%;
    padding: 100px 0; 
    text-align: center;
}

main #planes .container{
    width: 1200px;
    margin: 0 auto;
}

main #planes .container h2{
    font-size: 48px;
}

main #planes .container p{
    font-size: 20px;
}

main #planes .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

main #planes .container .row .col-4{
    width: 259px;
    position: relative;
}

main #planes .container .row .col-4 h3{
    position: absolute;
    top: 110px;
    margin: 0;
    left: 0;
    right: 0;
    color: #e8f00c;
    text-transform: uppercase;
    font-size: 26px;
}
        /* Seccion destinos */
#destinos{
    width: 100%;
    background: url(../img/bg-destinos.png);
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

main #destinos .container {
    width: 1200px;
    margin: 0 auto;
}

main #destinos #container h2 {
    color: #e8f00c;
    font-size: 50px;
}

main #destinos #container .row{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    margin-top: 60px;
} 

main #destinos .row .col-6 h3{
    color: #ffffff;
    font-size: 30px;
}

    /* Seccion Contacto */

main #contacto{
    background: #e8f00c;
    text-align: center;
    padding: 120px 0;
}

main #contacto .container{
    width: 1200px;
    margin: 0 auto;
}

main #contacto .container h2{
    font-size: 50px;
}

main #contacto .container p{
    font-size: 27px;
}

main #contacto .container .row{
    display: flex;
    justify-content: center;
}

main #contacto .container .row input{
    padding: 10px 20px;
    font-size: 25px;
    margin: 15px 10px;
    width: 340px;
    border-radius: 5px;
}

main #contacto .container .row select{
    padding: 10px 20px;
    font-size: 25px;
    margin: 15px 10px;
    width: 385px;
    border-radius: 5px;
}

main #contacto .container button{
    padding: 10px 50px;
    font-size: 25px;
    margin-top: 45px;
    background: #a8ad08;
    border: none;
    color: #ffffff;
}

footer{
    background: black;
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}